<%- include('./partials/navbar') %>
    <link rel="stylesheet" href="/css/style.css">
    <title> change password </title>

    <div class="">
        <% if (message !== '') { %>
            <div class="message-<%= type %>">
                <%= message %>
            </div>
        <% } %>
        <form action="" method="post" class="form" id="cform">
            <h1>Change Password</h1>
            <div class="form-data">
                <label for="password1">New Password</label>
                <input type="password" name="password1" id="password1">
            </div>
            <div class="form-data">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2">
            </div>
            <button> Change </button>
        </form>
    </div>

    <script src="/js/main.js"></script>