<link rel="stylesheet" href="/css/reglog.css">
<title> Login </title>

<body>
    <% if (message !== '') { %>
        <div class="message-<%= type %>">
            <%= message %>
        </div>
    <% } %>
    <form action="" method="post" class="form" id="login">
        <h1>Login</h1>
        <div class="form-data">
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-data">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <button> Login </button>
    </form>
    <div>
        <p>Don't have an account? click here to <a href="/register"> Register </a> </p>
    </div>
    <script src="/js/reglog.js"></script>
</body>